

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: rgb(100, 100, 100);
}




#output{
    width: 550px;
    text-align: center;
    font-size: 2em;
    color:#fff;
    border: 1px solid cadetblue;
    margin:5rem 0;
    padding:1.4rem;

}

#player1,
#player2{
    display: inline-block;
    width:200px;
    height: 140px;
    border:1px solid #fff;
    padding:3px;
    margin:38px;
    text-align: center;
    font-size: 8em;
    color:#fff;
    background-color: cadetblue;
}

button{
    /* padding: 5px; */
    text-align: center;
    width: 550px;
    color:cadetblue;
    font-size: 8em;
    border-style: groove;
}