

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: rgb(36, 30, 30);
}

#output{
    width: 550px;
    text-align: center;
    font-size: 2em;

}

#player1,
#player2{
    display: inline-block;
    width:200px;
    height: 140px;
    border:1px solid #fff;
    padding:5px;
    margin:25px;
    text-align: center;
    font-size: 7em;
}

button{
    padding: 10px;
    text-align: center;
    width: 550px;
}